%tr
  %th
    .text-center Year
  %th
    .text-center Name
  %th
    .text-center City
  %th
    .text-center Team
  %th
    .text-center
      = sortable_column 'avg', 'AVG'
  %th
    .text-center
      = sortable_column 'home_runs', 'Home Runs'
  %th
    .text-center
      = sortable_column 'rbi', 'RBI'
  %th
    .text-center
      = sortable_column 'runs'
  %th
    .text-center
      = sortable_column 'steals'
  %th
    .text-center
      = sortable_column 'ops', 'OPS'
