%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        .row-fluid.span12
          .text-center Year
      %th
        .row-fluid.span12
          .text-center Name
      %th
        .row-fluid.span12
          .text-center City
      %th
        .row-fluid.span12
          .text-center Team
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center AVG
          .span2
            %i.icon-arrow-down#avg-desc
            %i.icon-arrow-up#avg-asc
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center Home Runs
          .span2
            %i.icon-arrow-down#hr-desc
            %i.icon-arrow-up#hr-asc
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center RBI
          .span2
            %i.icon-arrow-down#rbi-desc
            %i.icon-arrow-up#rbi-asc
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center Runs
          .span2
            %i.icon-arrow-down#runs-desc
            %i.icon-arrow-up#runs-asc
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center Steals
          .span2
            %i.icon-arrow-down#sb-desc
            %i.icon-arrow-up#sb-asc
      %th
        .row-fluid
          .span8.offset2
            %a
              .text-center OPS
          .span2
            %i.icon-arrow-down#ops-desc
            %i.icon-arrow-up#ops-asc
  %tbody
    - @best_avg.each do |hitter|
      %tr{ id: "hitter_#{hitter.id}" }
        %td{ id: "hitter_#{hitter.id}_year" }
          .text-center= hitter.year
        %td{ id: "hitter_#{hitter.id}_name" }= hitter.full_name
        %td{ id: "hitter_#{hitter.id}_city" }= hitter.team_city
        %td{ id: "hitter_#{hitter.id}_team" }= hitter.team_name
        %td{ id: "hitter_#{hitter.id}_avg" }
          .text-center= hitter.avg
        %td{ id: "hitter_#{hitter.id}_hr" }
          .text-center= hitter.home_runs
        %td{ id: "hitter_#{hitter.id}_rbi" }
          .text-center= hitter.rbi
        %td{ id: "hitter_#{hitter.id}_runs" }
          .text-center= hitter.runs
        %td{ id: "hitter_#{hitter.id}_sb" }
          .text-center= hitter.steals
        %td{ id: "hitter_#{hitter.id}_ops" }
          .text-center= hitter.ops
